fastapi
uvicorn
gunicorn
sqlalchemy
psycopg2-binary
python-dotenv
python-multipart
passlib[bcrypt]
python-jose[cryptography]
google-generativeai
requests
pydantic[email]
pydantic-settings
email-validator
